{namespace test.simple}

/**
 * The home page
 * @param name The name of the person
 */
{template .home}
{call .header data="all" /}
Hello, {$name}!
{call .footer data="all" /}
{/template}

/**
 * A basic header
 */
{template .header}
<html><body>
{/template}

/**
 * A basic footer
 */
{template .footer}
</body></html>
{/template}